<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="answer">Odpowiedź na pytanie zabezpieczające:</label>
    <input type="text" name="answer" id="answer" required>

    <label for="password">Nowe Hasło:</label>
    <input type="password" name="password" id="password" required>

    <label for="repeat_password">Powtórz Hasło:</label>
    <input type="password" name="repeat_password" id="repeat_password" required>

    <button type="submit">Zmień Hasło</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
{% endwith %}

</body>
</html>