<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='change_password.css') }}">
    <title>Zmiana Hasła</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="error-message">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <h2>Zmień Hasło</h2>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Podaj swój email" required>

        <label for="answer">Odpowiedź na pytanie zabezpieczające:</label>
        <input type="text" name="answer" id="answer" placeholder="Odpowiedź" required>

        <label for="password">Nowe Hasło:</label>
        <input type="password" name="password" id="password" placeholder="Wprowadź nowe hasło" required>

        <label for="repeat_password">Powtórz Hasło:</label>
        <input type="password" name="repeat_password" id="repeat_password" placeholder="Powtórz hasło" required>

        <button type="submit">Zmień Hasło</button>
    </form>
</body>
</html>